body {

    background: #FFFFFF;
    font-family: Raleway;

}

.content {

    width: 1400px;
    margin: 0 auto;

}

.blue {

    color: #0065FC;
}

.grey {

    color: #F2F2F2;

}

.white {

    color: #FFFFFF;

}

.bold {

    font-weight: bold;
}

.accomodation_h3 {

    padding-left: 3%;
    padding-bottom: 1%;

}

h4 {

    font-weight: bold;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }


/* Ici les direction FB*/

.inline {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inlineAccomodationPopular {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inline2 {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}

.inlineFooter {


    padding-left: 3%;
    padding-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.columnPopular {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


/* Sections et leur contenu*/

.accomodationBackground {

    /* Img en backgroud ?*/
    
    width: 66%;
    height: 600px;
    border-radius: 25px;
    padding: 1%;
    background-color: #F2F2F2;
    margin-right: 15px;
}

/*Partie "Poupulaire" */


.cardsPopular {

    display: flex;
    flex-direction: inline;
    width: 90%;
    Height: 120px;
    border-radius: 20px; 
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px #0000002e;
   
}



.cardImagePopular {

    width: 30%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;

}


.cardDescriptionPopular {

    padding-left: 2%;
    margin-top: -6%;


}

.popularBackground {

    width: 30%;
    height: 600px;
    border-radius: 25px;
    padding: 1%;
    background-color: #F2F2F2;
    margin-left: 15px;
    

}

/* Activités */


.activitiesBackground {

    height: 600px;
    border-radius: 25px;
    background: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cardsActivities {

    display: flex;
    flex-direction: column;
    Width: 280px;
    Height: 540px;
    border-radius: 20px; 
    box-shadow: 0 0 20px #0000002e;
    background: #FFFFFF;

}

.cardsActivities2 {

    display: flex;
    flex-direction: column;
    Width: 280px;
    Height: 300px;
    border-radius: 20px; 
    box-shadow: 0 0 20px #0000002e;
    background: #FFFFFF;

}

.cardsActivities3 {

    display: flex;
    flex-direction: column;
    Width: 280px;
    Height: 200px;
    border-radius: 20px; 
    box-shadow: 0 0 20px #0000002e;
    background: #FFFFFF;

}

.cardImageActivities {

    width: 100%;
    height: 90%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

.cardImageActivities2 {

    width: 100%;
    height: 82%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

.cardImageActivities3 {

    width: 100%;
    height: 73%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

.cardDescriptionActivities {

 
    font-size: 65%;
    padding-left: 16px;
    padding-right:16px;
    margin-top: -5px;
}


/* Partie hebergement*/

.cards {

    display: flex;
    flex-direction: column;
    Width: 28%;
    Height: 190px;
    border-radius: 20px; 
    border: 5px solid #FFFFFF;
    background: #FFFFFF;
    box-shadow: 0 0 20px #0000002e;

}

.cardImage{

    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;

}

.cardDescription {

 
    font-size: 65%;
    padding-left: 16px;
    padding-right:16px;
    padding-bottom: 500px;
    margin-top: -5px;
}

.star  {

    font-size: larger;
}


/* Bas de page*/

.footerBooki {

    padding-left: 150px;
    padding-right: 150px;
    background-color: #F2F2F2;
    

}





/* Test Media Queries*/



@media screen and (max-width: 1700px) {
    p {
        color: red;
        background-color: black;
    }


}

@media screen and (max-width: 1400px) {
    
    .inlineAccomodationPopular {
        
        flex-direction: column-reverse;;


    }
    .columnPopular {
        
        flex-direction: row;

    }
    .popularBackground {

        width:max-content;
        height: 250px;
    
    }
    .accomodationBackground {

        width:max-content;
 

    }

    /*.activitiesBackground {
        
     
        
    }*/
    .content {

        width: 1000px;

   }

}


/* Pourquoi à partir de 1500, seul "auto" semble convenir ?*/





/* Windows live serveur - VSC

chat GPT - IA code

pseudo class first item

éliminer largeur - marge 0 auto

cascading Style sheet

un bloc Star - Sprite ? CSS ---> Bonus

Fixer à 1400px en largeur - margin 0 auto

Ne pas fixer Height - 

*/

/* Bootstrap - CA

Espacement colone

MJ

Espacement titre-Blocs

Herbergement marges

.growhover --> Transition

--> Semaine 3 : Responsive (Actuel)

   --> 23/01 ( /!\La clef, le 1400 du content ?)
*/